@font-face { 
	font-family: gothamff; 
	src: url('../fonts/GothamRnd-Light.otf'); 
	font-weight: normal;
}
@font-face { 
	font-family: gothamff; 
	src: url('../fonts/GothamRnd-Bold.otf'); 
	font-weight: bold;
} 