body {
	padding: 0;
	margin: 0;
	font-family: gothamff, helvetica, arial;
	font-size: 13px;
	background: #fff;
	top: 0;
}
section {
	min-height: 300px;
}
#header {
	top: 0;
	left: 0;
	background: #F68C2E;
	height: 100px;
	width: 100%;
	z-index: 5;
	position: absolute;
}
#header .logo {
	height: 150px;
	position: absolute;
	left: 10px;
	margin-top: 10px;
}
#header .logo2 {
	display: none;
	float: left;
}


#header #nav {
	float: right;
	margin: 0;
	margin-top: 40px;
	padding: 0;
	list-style-type: none;
}
#header #nav .arrow {
	display: none;
}
#header #nav li {
	float: left;
	margin-left: 3px;
}
#header #nav a {
	display: inline-block;
	color: #fff;
	font-size: 13px;
	padding: 8px 15px;
	border-radius: 100px;
	text-decoration: none;
}

#header #nav li:hover a{
	background: rgba(255,255,255,0.5);
}
#header #nav li.selected a{
	background: #fff;
	color: #F68C2E;
}

.ico-menu {
	display: none;
}

#header.smaller {
	height: 70px;
	position: fixed;
}
#header.smaller .logo {
	display: none;
}
#header.smaller .logo2 {
	display: block;
	height: 40px;
	margin: 10px;
}
#header.smaller #nav {
	margin-top: 15px;
}
.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.container .sum {
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 20px;
}
#home {
	background: #F68C2E;
	border-bottom: 1px solid #EFEFEF;
	overflow: hidden;
	padding-top: 0 !important;
	height: 800px;
}
#home .container {
	height: 100%;
}
.v-mobile {
	display: none;
}
.welcome {
	background: #F68C2E;
	color: #fff;
	height: 400px;
	padding-top: 70px;
} 

#header.smaller {
	background: #F68C2E !important;
}
.home {
	background: rgba(0,0,0,1) !important;
	height: auto !important;
	position: relative;
}
.home .container {
	height: 100%;
}
.header2 {
	background: none !important;
}
.home .welcome {
	background: none;
	z-index: 2;
	position: relative;
	padding-top: 200px;

}
.home .line-2 {
	background: #F68C2E;
	height: 50px;
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
	z-index: 2;
}
.home video {
	position: absolute;
	min-width: 100%;
	min-height: 750px;
	top: 0;
	z-index: 1;
	opacity: 0.3;
	padding: 0;
	margin: 0;
}
.welcome .img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
}
.welcome .img .phone1 {
	height: 70%;
	position: absolute;
	bottom: 0;
	left: 0px;
	z-index: 2;
}
.welcome .img .phone2 {
	height: 65%;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 1;
}
.welcome .text {
	position: absolute;
	width: calc(100% - 550px);
	font-size: 18px;
	line-height: 130%;
	margin-top: 100px;
}
.welcome .text .muzaki {
	margin-top: 40px;
}
.welcome .text .muzaki img {
	width: 100px;
	float: left;
	margin-right: 20px;
}
.welcome .text .muzaki strong {
	display: inline-block;
}
.welcome .text .muzaki .member strong {
	font-size: 32px;
	font-weight: normal;
	margin-top: 10px;
}
.titlepage {
	font-size: 32px;
	color: #F68C2E;
	text-align: center;
	padding: 20px 0;
}
.title {
	font-size: 26px;
	margin-bottom: 20px;
}
#kerjasama .kerja {
	height: 300px;
	overflow: hidden;
	border-bottom: 1px solid #EFEFEF;
	position: relative;
	width: 100%;
}
#kerjasama .kerja .container {
	height: 300px;
}
#kerjasama .kerja .text {
	float: right;
	width: calc(100% - 500px);
	margin-top: 80px;
	font-size: 15px;
	line-height: 140%;
}
#kerjasama .kerja .img {
	position: absolute;
	width: 500px;
	bottom: 0;
	height: 300px;
}
#kerjasama .kerja .img .promo {
	width: 40%;
	left: 50%;
	position: relative;
	margin-left: -20%;
	top: 50%;
	margin-top: -20%;
}
#kerjasama .kerja .img .phone {
	width: 172px;
	left: 50%;
	margin-left: -86px;
	position: absolute;
	bottom: -70px;
	z-index: 2;
}
#kerjasama .kerja .img .icon {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 50%;
}
#kerjasama .kerja .img .icon.notif {
	margin-left: -145px;
	bottom: 30px;
}
#kerjasama .kerja .img .icon.mustahiq {
	margin-left: -145px;
	bottom: 120px;
}
#kerjasama .kerja .img .icon.zakat {
	margin-left: 75px;
	bottom: 120px;
}
#kerjasama .kerja .img .icon.camera {
	margin-left: -35px;
	bottom: 225px;
}
#kerjasama .kerja .img .icon.jewel {
	margin-left: 75px;
	bottom: 30px;
}
#kerjasama .kerja .img .icon.profil {
	margin-left: -120px;
	bottom: 200px;
}
#kerjasama .kerja .img .icon.shodaqoh {
	margin-left: 50px;
	bottom: 200px;
}
#kerjasama .kerja2 .img {
	right: 0;
}
#kerjasama .kerja2 .text {
	float: left;
}
#kerjasama .kerja2 .img .k1 {
	text-align: center;
	width: 50%;
	float: left;
	font-size: 18px;
	margin-top: 80px;
}
#kerjasama .kerja2 .img .k1 img {
	height: 25%;
	padding-bottom: 15px;
}
#kerjasama .kerja2 .img .k1 span {
	font-size: 14px;
}
#kawan,
#partner {
	text-align: center;
	background: #FAFAFA;
}
.logo2 {
	text-align: center;
}
.logo2 img {
	display: inline-block;
	height: 45px;
	margin: 10px;
}
.logo2 img.big {
	height: 60px;
	bottom: -10px;
	position: relative;
}
#donasi  {
	padding-bottom: 50px;
}
.c1 {
	float: left;
	width: 45%;
	width: calc(60% - 31px);
	padding: 15px;
}
.c1a {
	border-right: 1px solid #DDDDDD;
}
.c1 .c2 {
	width: 100%;
	font-size: 40px;
	height: 100px;
}
.c1 .c2:first-child {
	margin-bottom: 20px;
}
.c1 .c2 img {
	float: left;
	width: 100px;
	margin-right: 20px;
}
.c1 .c2 strong {
	font-size: 17px;
	margin-top: 15px;
	display: inline-block;
}
.c3 {
	margin-top: 40px;
	width: calc(40% - 31px);
}
.c3 img {
	float: left;
	width: 150px;
	margin-right: 20px;
	margin-left: 20px;
}
.c3 strong {
	font-size: 20px;
	margin-top: 30px;
	display: inline-block;
}
.c3 .member {
	height: 30px;
	line-height: 30px;
}
.c3 .member strong {
	float: left;
	font-size: 50px;
	font-weight: normal;
	margin-top: 15px;
}
.c3 .member span {
	font-size: 20px;
	color: #9A9A9A;
	display: inline-block;
	position: relative;
	margin: 10px 20px 0 10px;
}
#partner .logo2 img{
	height: 50px;
}
#hubungi {
	text-align: left;
	background: url(../images/bg-hubungi.jpg) right top no-repeat #7c917d;
	background-size: cover;
	padding: 70px 0 250px;
	color: #fff;
}
#hubungi .titlepage {
	text-align: left;
	color: #fff;
}
#hubungi .sum {
	width: 50%;
	font-size: 15px;
	line-height: 130%;
}
.form {
	text-align: left;
}
.form strong {
	display: block;
	margin-top: 10px;
	margin-bottom: 3px;
	color: #5B5B5B;
	font-size: 16px;
}
.form .c1 input {
	border:0;
	padding: 5px;
	width: 90%;
	width: calc(100% - 10px);
	height: 35px;
	background: #EFEFEF;
}
.form textarea {
	border:0;
	padding: 5px;
	width: 90%;
	width: calc(100% - 30px);
	height: 170px;
	background: #EFEFEF;
}
.form .btn_submit {
	display: inline-block;
	height: 40px;
	width: 120px;
	border-radius: 100px;
	margin: 0 auto;
	background: #F5A623;
	color: #fff;
	font-family: gothamff, helvetica, arial;
	border: 0;
	font-size: 15px;
	cursor: pointer;
}
.form .btn_submit:hover {
	background: #F68C2E;
}
#footer {
	padding: 30px 0;
	text-align: center;
	background: #fff;
	font-size: 12px;
	color: #737373;
}
#footer a {
	color: #737373;
}
#hubungi .alamat {
	color: #fff;
	text-align: left;
	font-size: 14px;
	line-height: 130%;
	margin-top: 50px;
}
#hubungi .info {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 40px;
	color: #fff;
}
#hubungi .info1 {
	height: 30px;
	line-height: 30px;
	color: #fff;
}
#hubungi .info1 .img {
	height: 20px;
	width: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
}
#hubungi .info1 .img img {
	height: 100%;
	margin-top: 5px;
}
/*S:MODAL BOX*/
.box_modal {
	cursor: pointer;
}
.pop_box {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	z-index: 999;
}
.pop_box .pop_box_content {
	padding: 20px;
	background: #fff;
	width: 500px;
	position: relative;
	margin: 0 auto;
	top: 15%;
}
.pop_box iframe {
	position: relative;
	background: transparent;
}
.close_box, 
.close_box_style {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding: 10px;
	background: #f4f4f4;
	cursor: pointer;
}
.close_box_style img {
	height: 30px;
}
.close_box_style:hover {
	opacity: 0.7;
}
.pop {
	background: none;
}
.pop_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 0;
}
.pop_container {
	margin: 0 auto;
	width: 700px;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 50%;
	margin-left: -350px;
	/*-webkit-animation: move_bot 0.5s;
    animation: move_bot 0.5s;*/
    opacity: 1;
}
#pop_wrap {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
/*s:animate*/
/*@-webkit-keyframes move_bot {
    from {opacity:0;}
}*/
/*e:animate*/
.header {
	padding: 15px;
	background: #F3F3F3;
	height: 70px;
}
.header .klien-logo {
	float: left;
	height: 70px;
	margin-right: 30px;
}
.header .download {
	float: left;
	height: 40px;
	line-height: 40px;
	color: #B1B3B6;
	font-size: 13px;
	margin-top: 15px;
}
.header .download span,
.header .download img {
	float: left;
}
.header .download img {
	height: 40px;
}
.content-pop {
	padding: 0 30px;
	position: relative;
	max-height: 500px;
	overflow-y: scroll;
}
.content-pop .list {
	color: #5C5C5C;
	position: relative;
	margin: 20px 0;
}
.content-pop .list .img {
	width: 300px;
	height: 230px;
	float: left;
	text-align: center;
	background: #000;
	overflow: hidden;
}
.content-pop .list .img img {
	height: 100%;
}
.content-pop .list .text {
	float: right;
	width: calc(100% - 320px);
	font-size: 15px;
}
.content-pop .list .text h2 {
	font-size: 24px;
	color: #F68C2E;
	margin-bottom: 5px;
}
.content-pop .list .dana {
	font-size: 28px;
	margin-top: 15px;
}
.content-pop .list .dana span {
	display: inline-block;
	border-top: 1px solid #ccc;
	padding-top: 3px;
	font-size: 13px;
	font-weight: bold;
}
.content-pop .list .info {
	position: absolute;
	width: calc(100% - 320px);
	bottom: 0;
	right: 0;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}
.content-pop .list .info img {
	height: 20px;
	float: left;
	margin-right: 10px;
}
.content-pop .list .info .location {
	float: left;
}
.content-pop .list .info .time {
	float: right;
}
.pop #header {
	display: none;
}
.header2 {
	height: 50px;
}
.header h2 {
	font-size: 32px;
	margin:5px 10px;
}
.content-text {
	padding: 20px !important;
}
.content-text ol {
	list-style-type: lower-alpha;
	margin: 0;
	padding-left: 15px;
}
#hubungi .c1 {
	width: calc(50% - 31px)
}
#kawan {
	padding: 50px 0;
}
/*E:MODAL BOX*/





