@media screen and (max-width: 1024px) {
	.v-mobile {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: #000;
		opacity: 0.4;
	}
	.v-mobile img {
		height: 100%;
	}
	.home video {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	#home {
		height: 500px !important;
	}
	#home .container {
		height: auto;
	}
	#header {
		height: 70px;
		position: fixed;
		top: 0;
		left: 0;
		background: #F68C2E !important;
	}
	#header .logo {
		display: none;
	}
	#header .logo2 {
		display: block;
		height: 40px;
		margin: 5px;
		margin-left:10px;
		margin-top: 10px;
	}
	
	.home .welcome {
		padding-top: 70px;
	}
	.welcome .text {
		width: 100%;
		width: calc(100% - 40px);
		padding: 20px;
		position: relative;
		bottom: 0;
		font-size: 20px;
	}
	#kerjasama .kerja .img {
		width: 400px;
	}
	#kerjasama .kerja .text {
		width: calc(100% - 430px);
	}
	#kerjasama .kerja2 .text {
		margin-left: 30px;
	}
	#kerjasama .kerja2 .img .k1 img {
		height: 20%;
	}
	#kerjasama .kerja2 .img .k1 {
		font-size: 16px;
	}
	#kerjasama .kerja2 .img .k1 span {
		font-size: 12px;
	}
	.c1 .c2 img {
		width: 70px;
	}
	.c1 .c2 {
		font-size: 28px;
		height: 80px;
	}
	.c1 .c2 strong {
		font-size: 15px;
	}
	.c3 img {
		width:100px; 
	}
	.c3 strong {
		font-size: 16px;
		margin-top: 10px;
	}
	.c3 .member strong {
		font-size: 30px;
		margin-top: 10px;
	}
	.c3 .member span {
		font-size: 16px;
	}
	#hubungi {
		padding: 10px;
	}
	#header #nav {
		margin-top: 20px;
	}
	
}
@media screen and (max-width: 736px) {
	.ico-menu {
		display: block;
		position: absolute;
		right:0;
		top: 0;
		padding: 10px;
		height:50px;
	}
	.ico-menu img {
		height: 100%;
	}
	#nav .arrow {
		position: absolute;
		right: 0px;
		height: 30px;
		z-index: 3;
		display: none;
		margin-top: -10px;
	}
	.overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 5;
		background: rgba(0,0,0,0.5);
		display: none;
	}
	#nav {
		width: 250px;
		position: fixed;
		right: 10px;
		top: 40px;
		background: #F68C2E;
		border-radius: 5px;
		padding: 0;
		margin: 0;
		z-index: 4;
		display: none;
	}
	#header.active {
		background: rgba(246,140,46,0.7);
	}
	#header #nav li {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	#header #nav li.selected a {
		background: none;
		color: #fff;
	}
	#header #nav li.selected:hover a {
		background: #FFBE84;
	}
	#header #nav a {
		border-radius: 0;
		width: 100%;
		height: 30px;
		line-height: 30px;
		width: calc(100% - 30px);
	}
	#header {
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
	}
	.ico-menu {
		display: block;
		position: absolute;
		right:0;
		top: 0;
		padding: 10px;
		height:30px;
	}
	#header .logo2 {
		display: block;
		height: 40px;
		margin: 5px;
		margin-left:10px;
	}
	.welcome {
		height: 325px;
	}
	.welcome .text {
		font-size: 16px;
		margin-top: 0;
	}
	#kerjasama .kerja .img {
		width: 350px;
	}
	#kerjasama .kerja .text {
		width: calc(100% - 370px);
		font-size: 13px;
	}
	#kerjasama .kerja2 .text {
		width: calc(100% - 400px);
	}
	.title {
		font-size: 20px;
	}
	#kerjasama .kerja2 .img .k1 {
		font-size: 13px;
	}
	.c1 .c2 img {
		margin-right: 10px;
	}
	.c1 .c2 strong {
		font-size: 13px;
	}
	.c3 .member strong {
		font-size: 28px;
	}
	.c3 .member span {
		font-size: 13px;
		margin: 10px 0px 0 10px;
	}
	#hubungi .c1 {
		width: calc(50% - 31px)
	}
	.c1 .c2 {
		font-size: 20px;
	}
	.c3 {
		margin-top: 0;
		text-align: center;
	}
	.c3 img,
	.c3 .member strong {
		float: none;
	}
	.c3 .member span {
		margin: 0;
		position: relative;
	}
	
}
@media screen and (max-width: 450px) {
	.ico-menu .arrow {
		position: absolute;
		right: 15px;
		height: 20px;
		top: 50px;
		z-index: 3;
		display: none;
	}
	#nav {
		width: 250px;
		position: fixed;
		right: 10px;
		top: 40px;
		background: #F68C2E;
		border-radius: 5px;
		padding: 0;
		margin: 0;
		z-index: 4;
		display: none;
	}
	#header {
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
	}
	.ico-menu {
		display: block;
		position: absolute;
		right:0;
		top: 0;
		padding: 10px;
		height:30px;
	}
	#header .logo2 {
		display: block;
		height: 40px;
		margin: 5px;
		margin-left:10px;
	}
	#home {
		height: 400px !important;
	}
	.home {
		background: #000 !important;
	}
	.home .welcome {
		padding-top: 70px;
		padding-bottom: 60px;
	}
	.welcome .img {
		display: none;
	}
	.container {
		width: calc(100% - 20px);
		padding: 0 10px;
	}
	.welcome,
	#home .container {
		min-height: 200px !important;
		height: auto !important;
		width: 100%; 
		left:0;
		padding: 0;
	}
	.welcome .text {
		width: 100% !important;
		width: calc(100% - 40px) !important;
		padding: 10px;
		position: relative !important;
		font-size: 13px !important;
		bottom: 0px !important;
		margin-left: 10px;
		margin-top: 0;
		/*color: #000;*/
	}
	.home .line-2 {
		height: 20px;
	}
	
	.titlepage {
		font-size: 24px;
	}
	#kerjasama .kerja,
	#kerjasama .kerja .container {
		height: auto;
	}
	#kerjasama .kerja .text,
	#kerjasama .kerja2 .text {
		width: calc(100% - 40px) !important;
		padding: 20px;
		position: relative;
		margin-top: 10px !important;
		clear: both;
		float: none;
		font-size: 13px !important;
	}
	#kerjasama .kerja .img {
		position: relative;
		width: auto;
		clear: both;
	}
	#kerjasama .kerja .img .promo {
		width: 70%;
		margin-left: -35%;
		margin-top: -35%;
	}
	#hubungi {
		background: url(../images/bg-hubungi2.jpg) right top no-repeat #7c917d;
		background-size: cover;
	}
	#hubungi .sum {
		width: 100%;
	}
	.title {
		font-size: 20px;
	}
	#kerjasama .kerja2 .img .k1 {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.c1 {
		width: calc(100% - 30px) !important;
		padding: 0 15px;
	}
	.c1a {
		border: 0;
	}
	.c1 .c2 {
		font-size:24px;
		height: 60px;
	}
	.c1 .c2 img,
	.c3 img {
		width: 60px;
		margin-left: 0;
	}
	.c1 .c2 strong,
	.c3 strong {
		font-size: 12px;
		margin-top: 8px;
	}
	.c3 {
		margin-top: 15px;
		text-align: left;
	}
	.c3 img {
		float: left;
		margin-right: 10px;
	}
	.c3 .member strong {
		font-size: 24px;
		margin-top: 0;
	}
	.c3 .member span {
		font-size: 15px;
		margin: 0;
		margin-left: 10px;
	}
	#partner .logo2 img {
		height: 30px;
	}
	.form textarea {
		width: 100%;
		margin-bottom: 20px;
	}
	#footer .alamat,
	#footer .info {
		width: calc(100% - 30px);
		padding: 5px 15px;
	}
	#header .ico-back {
		float: left;
		height: 20px;
		margin-top: 15px;
	}
	.pop {
		background: #fff;
	}
	.pop_bg {
		display: none;
	}
	.pop_container {
		width: 100%;
		left: 0;
		position: relative;
		margin: 0;
		-webkit-animation: move_bot 0s; /* Chrome, Safari, Opera */
	    animation: move_bot 0s;
	}
	.pop #header {
		display: block;
	}
	.header {
		margin-top: 50px;
		height: 40px;
		padding: 10px;
	}
	.header .klien-logo {
		height: 35px;
		margin-right: 10px;
	}
	.close_box, .close_box_style {
		display: none;
	}
	.header .download {
		font-size: 10px;
		float: right;
		margin-top: 5px;
		height: 30px;
		line-height: 30px;
	}
	.header .download img {
		height: 25px;
		margin-left: 3px;
	}
	.content-pop {
		overflow: scroll;
		width: 100%;
		margin: 0;
		padding: 0;
		max-height: calc(100% - 120px);
		position: relative;
	}
	.content-pop .list {
		margin: 10px;
		background: #fff;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.5);

	}
	.content-pop .list .img {
		width: 100%;
		height: auto;
		display: block;
	}
	.content-pop .list .img img {
		width: 100%;
		height: auto;
		display: block;
	}
	.content-pop .list .text {
		width: 100%;
		width: calc(100% - 20px);
		padding: 10px;
		font-size: 13px;
	}
	.content-pop .list .info {
		width: 100%;
		width: calc(100% - 10px);
		padding: 5px;
		position: relative;
		font-size: 10px;
	}
	.content-pop .list .info .time,
	.content-pop .list .info .location {
		padding: 5px;
	}
	.content-pop .list .info img {
		height: 15px;
		margin-right: 5px;
	}
	#donasi .c1 {
		width: 100%;
		padding: 0;
	}
	.content-text {
		width: calc(100% - 40px);
		padding: 20px !important;
	}


	
}
@media screen and (max-width: 320px) {
}
